.addItemButton {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .gridLayout {
    background-color: #f1f1f1;
    position: relative;
    transition: height 200ms ease;
  }
  
.gridItem {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  transition: all 200ms ease;
  transition-property: left, top;
}

.gridItem img {
  pointer-events: none;
  user-select: none;  
}

.gridItem.cssTransforms {
  transition-property: transform;
}
.gridItem.resizing {
  z-index: 1;
  will-change: width, height;
}

.gridItem.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.gridItem.dropping {
  visibility: hidden;
}

.gridItem.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.gridItem > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.gridItem > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.gridItem > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.gridItem > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.gridItem > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.gridItem > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.gridItem > .react-resizable-handle.react-resizable-handle-w,
.gridItem > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.gridItem > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.gridItem > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.gridItem > .react-resizable-handle.react-resizable-handle-n,
.gridItem > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.gridItem > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.gridItem > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

.addItemText {
  color: #4CAF50;
  cursor: pointer;
}

.removeItem {
  color: #f00;
  cursor: pointer;
}
